<div *ngIf="!loggedInUiLoading" class="app-wrapper">
  <app-navbar></app-navbar>
  <mat-sidenav-container class="drawer-container" fullscreen>
    <mat-sidenav mode="over" [opened]="sidenavOpen" [autoFocus]="false">
      <mat-nav-list>
        <mat-list-item
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['is-active']"
        >
          <a matListItemTitle>Home</a>
        </mat-list-item>
        <mat-list-item
          routerLink="/auth/register"
          *ngIf="!isLoggedIn"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['is-active']"
        >
          <a matListItemTitle>Register</a>
        </mat-list-item>
        <mat-list-item
          routerLink="/auth/login"
          *ngIf="!isLoggedIn"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['is-active']"
        >
          <a matListItemTitle>Login</a>
        </mat-list-item>
        <mat-list-item
          routerLink="/cities"
          *ngIf="isLoggedIn"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['is-active']"
        >
          <a matListItemTitle>Cities</a>
        </mat-list-item>
        <mat-list-item
          routerLink="/logout"
          *ngIf="isLoggedIn"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['is-active']"
          (click)="logout()"
        >
          <a matListItemTitle>Logout</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="loggedInUiLoading" class="global-loading">
  <img src="/assets/loading_icon.gif" alt="" />
</div>
<!-- <div class="navbar">
  <div class="title-container">
    <h2>Angular</h2>
  </div>
  <div class="links-container">
    <a href="#" routerLink="/">Home</a>
    <a href="#" routerLink="/cities" *ngIf="isLoggedIn">Cities</a>
    <a href="#" routerLink="/logout" *ngIf="isLoggedIn" (click)="logout()"
      >Logout</a
    >
    <a href="#" routerLink="/auth/register" *ngIf="!isLoggedIn">Register</a>
    <a href="#" routerLink="/auth/login" *ngIf="!isLoggedIn">Login</a>
  </div>
</div> -->
